<launch>
 
  <!-- Chuck Stack -->
    <!-- Robot Model -->
    <include file="$(find srsbot_chuck_description)/launch/model.launch"></include>

    <!-- Midbrain -->
    <include file="$(find srsnode_midbrain)/launch/node.launch"></include>


    <!-- Pose Publisher -->
    <!-- <node pkg="srsnode_localization" type="pose_publisher" name="pose_pub"/> -->



      <param name="/use_sim_time" value="false"/>
        <!-- <include file="$(find srsbot_chuck)/launch/lidar_simulation.launch"/> -->

        <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0.0 0.0 0.0 0 0 0.0 /map /odom 100"/>
        <node pkg="rostopic" type="rostopic" name="amcl_ready_simulation" args="pub --latch /amcl/ready std_msgs/Bool 'data: true'"/>


  <remap from="/odometry" to="/sensors/odometry/pose"/>
  <remap from="/cmd_vel" to="/sensors/odometry/velocity/cmd"/>
  <node pkg="pure_pursuit" type="pure_pursuit" name="figure_eight_" output="screen" />
  <param name="figure_eight/offsetX" value="4"/> 
  <param name="figure_eight/offsetY" value="7"/> 
  <param name="figure_eight/radius" value="2.5"/> 
  <node pkg="pure_pursuit" type="figure_eight.py" name="figure_eight_py"  output="screen">
  </node>

</launch>
